* 모든 경우의 수를 다 해보는 브루트 포스 알고리즘

## 2309 - 일곱 난쟁이
: 문제
* 왕비를 피해 일곱 난쟁이들과 함께 평화롭게 생활하고 있던 백설공주에게 위기가 찾아왔다. 일과를 마치고 돌아온 난쟁이가 일곱 명이 아닌 아홉 명이었던 것이다.

* 아홉 명의 난쟁이는 모두 자신이 "백설 공주와 일곱 난쟁이"의 주인공이라고 주장했다. 뛰어난 수학적 직관력을 가지고 있던 백설공주는, 다행스럽게도 일곱 난쟁이의 키의 합이 100이 됨을 기억해 냈다.

* 아홉 난쟁이의 키가 주어졌을 때, 백설공주를 도와 일곱 난쟁이를 찾는 프로그램을 작성하시오.

- 입력
아홉 개의 줄에 걸쳐 난쟁이들의 키가 주어진다. 주어지는 키는 100을 넘지 않는 자연수이며, 아홉 난쟁이의 키는 모두 다르며, 가능한 정답이 여러 가지인 경우에는 아무거나 출력한다.

In [ ]:
#데이터 입력
data = []
for i in range(9) : 
  data.append(int(input()))

data.sort()

total = sum(data)

# 9명 중 2명을 제외한 것이 100이면 그 7멍을 출력
for i in range(9):
  for j in range(i+1, 9):
    if total - data[i] - data[j] == 100 :
      for k in range(9):
        if k != i and k != j:
          print(data[k])
      exit()

20
7
23
19
10
15
25
8
13
7
8
10
13
19
20
23

# 3085 사탕게임 (나중에 다시 풀 문제)
- 7

In [ ]:
# 
n = int(input())

array = []
for _ in range(n):
  color = list(map(str,input()))
  array.append(color)

3
CCP
CCP
PPC

# 1476 - 날짜계산

In [ ]:
E, S, M = map(int, input().split())

year = 1
while True :
  if ((year - E) % 15 == 0) & ((year-S) % 28 == 0) & ((year-M) % 19 == 0) :
    print(year)
    break
  year += 1

1 2 3
5266

# 1107 - 리모컨

In [ ]:

N = int(input())
M = int(input())
data_x = input().split()


F = 100

num_min = abs(N - F)

for num in range(1000001) : 
  for i in str(num) : 
    if i in data_x : 
      break 

print(min(num_min, len(str(num)) + abs(num - N)))

5357
5
6 7 8
5257

# 6064 - 카잉 달력

In [ ]:
num = int(input())

c = '' 
for i in range(1, num+1) :
  c = str(c) + str(i)

print(len(c))

5
5

# 9095 - 1,2,3 더하기 (나중에 다시 풀 문제)